<!DOCTYPE html>
<html ng-app="friendsList">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body ng-controller="mainCtrl">

    <input placeholder="new friend" ng-model="newFriend">
    <button ng-click="addFriend ()">Add New Friend</button>

    <h1>My Friends</h1>

    <div ng-repeat="friend in friends">
      <p>{{friend}}</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/mainCtrl.js"></script>
  </body>
</html>
